# Defualt settings.
# Do NOT change this file.

crop_ratio: 0.5
crop_method: resize
flip_vertical: 0.5
flip_horizontal: 0.5
rotate_degree: 0
zoom: 1
translate_vertical: 0.25
translate_horizontal: 0.25
hsv_h: 0.15
hsv_s: 0.50
hsv_v: 0.50
hsv_offset_h: 0.0
hsv_offset_s: 0.0
hsv_offset_v: 0.0
noise:
  mean: 0
  std: [0, 20]
dequality: 0.2
color_space: BGR
data_length:
file_checkers: 128
file_checker_bypass: no
loaders: [4, 2]
buffer_size: 32
sub_buffer_size: 16
resize_method: contain
train_image: datasets/train
val_image: datasets/val
user_option: option.yaml

checkpoint_path: runs
checkpoint_name: train
log_level: all
optimizer: SGD
loss: CCE
loss_args: 
learning_rate: 0.2
batch_size: 256
subdivisions: 4
image_size: 224 # input size
epochs: 300
patience: 50
mixed_precision: mixed_bfloat16
warmup_epochs: 5
warmup_lr: 0.001 # learing_rate * warmup_lr (in start)
scheduler_type: cosine
decay_lr: 0.01 # learning_rate * decay_ratio (in end)
decay_start: 15
save_period: 0
model: resnet/54.yaml
